body {
    background-color: mediumaquamarine;
}

p {
    font-family: Lexend Deca, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Zilla Slab, sans-serif;
}

#red {
    color: red;
}

#orange {
    color: hsl(35, 57%, 48%);
}

#yellow {
    color: yellow;
}

#green {
    color: green;
}

#blue {
    color: blue;
}

#purple {
    color: rebeccapurple;
}