body {
    background-color: mediumaquamarine;
    font-family: Lexend Deca, sans-serif;
    line-height: 1.5em;
}

div:not(#float) {
    width: 75%;
}

#static {
    position: static;
}

#main-content {
    margin-top: 7em;
}

#the-odd-one-out-woah-theodd1sout-reference {
    position: relative;
    left: 5em;
}

#absolutely {
    position: absolute;
    left: 45em;
    border: 0.25em solid seagreen;
    margin: 1em;
    padding: 0.5em;
    border-radius: 1em;
    z-index: 0;
}

h1 {
    position: fixed;
    top: 0em;
    background-color: #1d5d49;
    color: white;
    border: 0.25em solid seagreen;
    padding: 0.5em;
    width: 50%;
    border-radius: 1em;
    z-index: 1;
}

blockquote {
    float: right;
    background-color: #3e2622;
    color: white;
    width: 25%;
    border: 0.25em solid #13120E;
    margin: 1em;
    padding: 0.5em;
    border-radius: 1em;
}

a {
    color: white;
}

#first-link {
    color: black;
}

h3, h4 {
    font-family: Zilla Slab, sans-serif;
    font-weight: bold;
}

.explanation {
    font-weight: normal;
}