body {
    background-color: #1D5D49;
    font-family: Lexend Deca, sans-serif;
    line-height: 1.5em;
}

p {
    background-color: mediumaquamarine;
    text-align: center;
    max-width: 75%;
    border: 0.25em solid seagreen;
    margin: 1em auto;
    padding: 0.5em;
    box-shadow: 5px 5px 5px 5px rgb(23, 71, 44);
    border-radius: 1em;
}

label {
    font-family: Zilla Slab, sans-serif;
    font-size: 115%;
    font-weight: bold;
}

#form {
    background-color: mediumaquamarine;
    text-align: center;
    max-width: 75%;    
    border: 0.25em solid seagreen;
    margin: 1em auto;
    padding: 0.5em;
    box-shadow: 5px 5px 5px 5px rgb(23, 71, 44);
    border-radius: 1em;
}

input[type=text] {
    border: 0.25em solid seagreen;
    margin: 1em;
    padding: 0.5em;
    box-shadow: 2.5px 2.5px 2.5px 2.5px #337f64;
    border-radius: 1em;
}

input[type=text]::placeholder {
    font-family: Lexend Deca, sans-serif;
    color: #575e56;
}